.App{
  width: 100vw;
  height: 100vh;
}
body{
  margin: 0;
  padding: 0;
}
.app-tetris{
  border: 1px solid cyan;
}
.hold-next{
  display: inline-block;
}
.hold-text{
  display: flex;
}
.hold{
  display: flex;
  border: 1px solid cyan;
}
.next-text{
  display: flex;
}
.next{
  display: flex;
  border: 1px solid cyan;
}
.enemy-tetris{
  border: 1px solid cyan;
}